# Python cache
PyQuiver/src/__pycache__/
PyQuiver/__pycache__/*
__pycache__/*
*.pyc


# Temporary/generated outputs
outputs/
sessions/

# IDE project settings for pycharm and vscode
.idea/
.vscode/

# Mac OS data
.DS_Store

Local database and secrets
instance/
.env
.venv/


